{
  "extends": ["react-app", "react-app/jest",  "plugin:react-hooks/recommended"],
  "plugins": ["prettier", "react-hooks"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
     "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "prettier/prettier": ["warn", {
      "semi": true,
    }],
    "import/order": [
      2,
      {
        "groups": ["external", "builtin", "index", "sibling", "parent", "internal", "type"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always-and-inside-groups"
      }
    ]
  }
}
